<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:info.properties"/>
    <bean id="info" class="org.ws.common.Info">
    	<property name="username" value="${common.service.username}" />
    	<property name="password" value="${common.service.password}" />
    	<property name="host" value="${client.service.host}" />
    	<property name="port" value="${client.service.port}" />
    </bean>
    <bean id="helloImpl" class="org.ws.core.HelloImpl" />
	<bean id="serverPwdCallback" class="org.achilles.security.ServerPasswordCallback">
		<property name="info" ref="info" />
	</bean>
</beans>